*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, bold;
}

body{
    overflow: hidden;
}



#main{
    display: flex;
}

#main #side_back{
    width: 50%;
    height: 100vh;
    position: relative;
}

.backgr{
    background-image: url("../svg/1x/backin3.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    transition: 500ms;
}

.newbackgr{
    top: -100%;
}

.image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 5vh;
    transition: 500ms;
    position: fixed;
    margin-top: 2%;
    z-index: 5;
    /* pointer-events: none; */
}

#main_img{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
}

#main_img #text{
    color: white;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-top: 4%;
    width: 60%;
    text-align: center;
}

/* 2nd main path */
.backgr2{
    background-image: url("../svg/1x/backgrin.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 100%;
    transition: 500ms;
}

.newbackgr2{
    top: 0;
}


#main_img2{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
}

#main_img2 #text{
    color: white;
    text-transform: uppercase;
    font-size: 1.6em;
    margin-top: 4%;
    width: 60%;
    text-align: center;
}


#main_ct{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    position: relative;
}

#main_ct #tp_tit{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(31, 31, 31);
}

#main_ct #tp_tit > h2{
    text-transform: uppercase;
    font-size: 1em;
}

#main_ct #tp_tit #link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

#main_ct #tp_tit #link li{
    list-style: none;
}

#main_ct #tp_tit #link li a{
    text-decoration: none;
    color: rgb(27, 27, 27);
    text-transform: capitalize;
    font-size: 1.1em;
}

#main_ct #tp_tit #link li:nth-last-child(1){
    background-color: #FDBC04;
    padding: 5%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(26, 26, 26, 0.219);
    position: relative;
    overflow: hidden;
    transform: scale(1) translate(1px);
    transition: 500ms;
    display: flex;
}



#main_ct #tp_tit #link li:nth-last-child(1) span{
    width: 100%;
    height: 100%;
    background-color: #1f477e;;
    clip-path: circle(0);
    clip-rule: left;
    position:absolute;
    transition: 500ms;
    transform: scale(1) translate(1px); 
    transition: 1s;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#main_ct #tp_tit #link li:nth-last-child(1):hover span{
    clip-path: circle(100vh);
}

#main_ct #tp_tit #link li:nth-last-child(1):hover{
    transform: scale(1.1); 
}

#main_ct #tp_tit #link li:nth-last-child(1) a{
    position: relative;
    z-index: 2;
    color: white;
}

#main_ct .sign_fr{
    width: 90%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    transition: 500ms;
}

#main_ct .new_sign_fr{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

#main_ct #sign_fr form{
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#main_ct #sign_fr form #tit_fr h1{
    font-size: 2em;
    color: rgb(27, 27, 27);
    text-transform: uppercase;

}

#main_ct #sign_fr form #input2{
    width: 100%;
    display: flex;
    position: relative;
    /* overflow: hidden; */
    flex-direction: column;
    /* height: 20vh; */
    margin-bottom: 10%;
}
 
#main_ct #sign_fr form #input2 input{
    width: 100%;
   
    border: none;
}

#main_ct #sign_fr form #input2 label{
    position: absolute;
    bottom: 100%;
    color: gray;
    text-transform: uppercase;
}
 
#main_ct #sign_fr form #input2 span{
    width: 100%;
    height: 1px;
    background-color: gray;
}

/* the 1st part */

#main_ct #sign_fr form #input1{
    width: 100%;
    display: flex;
    position: relative;
    /* overflow: hidden; */
    flex-direction: column;
    /* height: 20vh; */
    margin-bottom: 10%;
}
 
#main_ct #sign_fr form #input1 input{
    width: 100%;
   
    border: none;
}

#main_ct #sign_fr form #input1 label{
    position: absolute;
    bottom: 100%;
    color: gray;
    text-transform: uppercase;
}
 
#main_ct #sign_fr form #input1 span{
    width: 100%;
    height: 1px;
    background-color: gray;
}

/* the 3nd part */

#main_ct #sign_fr form #input3{
    width: 100%;
    display: flex;
    position: relative;
    /* overflow: hidden; */
    flex-direction: column;
    /* height: 20vh; */
    margin-bottom: 10%;
}
 
#main_ct #sign_fr form #input3 input{
    width: 100%;
   
    border: none;
}

#main_ct #sign_fr form #input3 label{
    position: absolute;
    bottom: 100%;
    color: gray;
    text-transform: uppercase;
}
 
#main_ct #sign_fr form #input3 span{
    width: 100%;
    height: 1px;
    background-color: gray;
}

#main_ct #sign_fr form button{
    background-color: #FDBC04;
    color: white;
    padding: 5%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 8px 12px rgba(26, 26, 26, 0.219);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: top;
    transform: scale(1) translate(1px); 
    transition: 500ms;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
    border: none;
}

#main_ct #sign_fr form button a{
    text-decoration: none;
    color: white;
    z-index: 2;
    text-transform: uppercase;
}

#main_ct #sign_fr form button span{
    width: 100%;
    height: 100%;
    background-color: #1f477e;
    clip-path: circle(0);
    clip-rule: left;
    position:absolute;
    transition: 500ms;
}

#main_ct #sign_fr form button:hover span{
    clip-path: circle(100%);
}

#main_ct #sign_fr form button:hover{
    transform: scale(1.1); 
}

/* the 2nd path in frm  */

#main_ct .sign_fr2{
    width: 90%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%); */
    transition: 500ms ease-in-out;
    position: absolute;
    transform-origin: center;
    /* transform:  scale(0) translate(1px); */
    /* right: -100%; */
    pointer-events: none;
    opacity: 0;
    top: 10%;
}

#main_ct .new_sign_fr2{
    /* right: 50%; */
    top: 5%;
    /* transform:  scale(1) translate(1px); */
    opacity: 1;
    pointer-events: all;
    /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);     */
}

#main_ct #sign_fr2 form{
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#main_ct #sign_fr2 form #tit_fr h1{
    font-size: 2em;
    color: rgb(27, 27, 27);
    text-transform: uppercase;

}

#main_ct #sign_fr2 form #input2{
    width: 100%;
    display: flex;
    position: relative;
    /* overflow: hidden; */
    flex-direction: column;
    /* height: 20vh; */
    margin-bottom: 10%;
}

input{
    outline: none;
}
 
#main_ct #sign_fr2 form #input2 input{
    width: 100%;
    border: none;
}

#main_ct #sign_fr2 form #input2 label{
    position: absolute;
    bottom: 100%;
    color: gray;
    text-transform: uppercase;
}
 
#main_ct #sign_fr2 form #input2 span{
    width: 100%;
    height: 1px;
    background-color: gray;
}

/* the 1st part */

#main_ct #sign_fr2 form #input1{
    width: 100%;
    display: flex;
    position: relative;
    /* overflow: hidden; */
    flex-direction: column;
    /* height: 20vh; */
    margin-bottom: 10%;
}
 
#main_ct #sign_fr2 form #input1 input{
    width: 100%;
    border: none;
}

#main_ct #sign_fr2 form #input1 label{
    position: absolute;
    bottom: 100%;
    color: gray;
    text-transform: uppercase;
}
 
#main_ct #sign_fr2 form #input1 span{
    width: 100%;
    height: 1px;
    background-color: gray;
}

/* the 3nd part */

#main_ct #sign_fr2 form button{
    background-color: #FDBC04;
    color: white;
    padding: 5%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 8px 12px rgba(26, 26, 26, 0.219);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: top;
    transform: scale(1) translate(1px); 
    transition: 500ms;
    overflow: hidden;
    position: relative;
    margin-top: 5%;
    border: none;
}

#main_ct #sign_fr2 form button a{
    text-decoration: none;
    color: white;
    z-index: 2;
    text-transform: uppercase;
}

#main_ct #sign_fr2 form button span{
    width: 100%;
    height: 100%;
    background-color: #1f477e;
    clip-path: circle(0);
    clip-rule: left;
    position:absolute;
    transition: 500ms;
}

#main_ct #sign_fr2 form button:hover span{
    clip-path: circle(100%);
}

#main_ct #sign_fr2 form button:hover{
    transform: scale(1.1); 
}